  body {
    background-color: black;}
  h1 {
    font-family: Lobster;
  }
 h2 {
    font-family: Indie Flower;
  }
 h3 {
    font-family: Nanum Brush Script;
  }
  p {
    font-size: 16px;
    font-family: Indie Flower;
    border-width: 100px;
  }
  .text-red {
    color: red;}
  .text-black {
    color: black;}
    .text-silver {
      color: silver;}
  .text-blue {
      color: blue;}